<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>testGetCreatureType</servlet-name>
        <servlet-class>servlets.testGetCreatureType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testGetCreatureByTypes</servlet-name>
        <servlet-class>servlets.testGetCreatureByTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testGetArchytypesByCreatureID</servlet-name>
        <servlet-class>servlets.testGetArchytypesByCreatureID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testGetCreatureType</servlet-name>
        <url-pattern>/testGetCreatureType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testGetCreatureByTypes</servlet-name>
        <url-pattern>/testGetCreatureByTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testGetArchytypesByCreatureID</servlet-name>
        <url-pattern>/testGetArchytypesByCreatureID</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
